*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.image-1{
display: flex;
}
.image-1 img{
    width: 250px;
    height: 200px;
    padding: 30px;
}

.image-1 p{
    padding: 30px;
    margin-left: 20px;
}
.image-2{
    display: flex;
    flex-direction: row-reverse;
}
.image-2 img{
    width: 250px;
    height: 200px;
    padding: 30px;
}
.image-2 p{
    padding: 30px;
    margin-left: 20px;
}
.image-3{
    display: flex;
}
.image-3 img{
    width: 250px;
    height: 200px;
    padding: 30px;
}
.image-3 p{
    padding: 30px;
    margin-left: 20px;
}